<div class="call-container">
    <div class="call-item call-friend">
        <div class="btn btn-proceed"><i class="fa fa-user-ninja"></i><span>Call Friend</span></div>
    </div>
    <div class="call-item call-group">
        <div class="btn btn-proceed"><i class="fa fa-user-secret"></i><span>Group Call</span></div>
    </div>
    <div class="call-item call-open"  (click)="createRoom()">
        <div class="btn btn-proceed"><i class="fa fa-users"></i><span>Conference Call</span></div>
    </div>
</div>
