.call-container{
  display: flex;
  width: 100%;
  flex-direction: row;
  .call-item{
    .btn{
      width: 100%;
      margin-top: 60%;
      span{
        margin-left: 5px;
      }
    }
    padding: 1rem;
    text-align: center;
    width: 33%;
    height: 300px;
    background-size: contain;
    border: 1px solid gainsboro;
    box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 5%);
    border-radius: 25px;
    margin: 1rem;
  }
}
.call-friend{
  background: url("../../../../../assets/svg/call/call_friend.svg") center no-repeat;
}.call-group{
  background: url("../../../../../assets/svg/call/call_group.svg") center no-repeat;
}.call-open{
  background: url("../../../../../assets/svg/call/call_open.svg") center no-repeat;
}
@media (max-width: 719px) {
  .call-container {
    display: flex;
    margin: auto;
    flex-direction: column;
    .call-item{
      width: 90%;
    }
  }
}
