<app-title [title]="'Groups'"></app-title>
<div class="btn-float mt-4 float-right"><i class="fa fa-users"></i><span class="ms-1">Create New Group</span></div>
<div class="header-space"></div>
<div class=" w-75 ms-5 me-2">Your Groups</div>
<div class="group-container">
    <div class="group-item" *ngFor="let group of groups">
        <i class="fa fa-ellipsis-h options"></i>
        <img [src]="group.image || noImage" class="image" alt="">
        <div class="name">{{group.name}}</div>
    </div>
</div>
