.content{
  width: 100vw;
  height: 60vh;
  overflow: hidden;
}
.white-board-element{
  width: 100vw;
  height: 60vh;
  overflow: hidden;
  background-color: white;
}
.draw-path{
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: round;
}