<div class="chat-input">
    <textarea rows="1"
              [(ngModel)]="content"
              (keyup.enter)="submitMessage()"
              placeholder="Enter Message">
    </textarea>
<!--    <span class="icon"-->
<!--          (click)="hideOrUnhideIcon()">☺</span>-->
    <i class="fa fa-paper-plane send-icon" (click)="submitMessage()" ></i>

</div>

<!--<div *ngIf="isShowIcon">-->
<!--    <img alt="icon"-->
<!--         *ngFor="let icon of icons; index as idx"-->
<!--         class="emoji-icon"-->
<!--         src="{{icon}}"-->
<!--         (click)="addIcon(idx+1)">-->
<!--</div>-->
