.content{
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: hidden;
}
.white-board-element{
  flex:1;
  overflow: hidden;
  background-color: white;
}
.draw-path{
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: round;
}
