
<div class="home flex-center">
    <div class="container-fluid w-50 text-white" [style.background-color]="'var(--primary)'" >
      <div class="row mt-5">
        <div class="col-12 h2 mt-2 text-center"><strong>MeetingPro</strong></div>
      </div>

      <div class="row mt-2">
        <div class="col-12 col-md-4 offset-md-4 mb-3">
          <label >Meeting Id</label>
          <input type="text" class="form-control rounded-0" [(ngModel)]="roomId" placeholder="Enter Meeting ID...">
        </div>
        <div class="col-12 col-md-4 offset-md-4 mb-5 d-flex">
          <button class="btn btn-primary ms-auto me-1" (click)="joinRoom()">Join Meeting</button>
          <button class="btn btn-success me-auto ms-1" (click)="createRoom()">Create new Room</button>
        </div>
      </div>
    </div>
</div>