<app-title [title]="'Messages'"></app-title>
<div class="message-container">
    <div class="target-list">
        <input type="text" class="searchbar" placeholder="Search...">
        <div class="target" *ngFor="let item of usersAndGroups; let i = index" (click)="loadMessage(item)">
            <img [src]="item.image || noImage" alt="">
            <div class="target-text">
                <div class="target-name">{{item.name}}</div>
                <div class="target-last-message">{{item.message}}</div>
            </div>
        </div>
    </div>
    <div class="message">
        <div class="message-nav-bar">
            <i class="fa fa-ellipsis-v options"></i>
        </div>
        <div class="chat">
            <div class="conversation">
                <div *ngFor="let chat of chats; index as i">
                    <div class="message" [id]="i" [ngClass]="chat.isMe ? 'my-message' : 'cor-message'"><strong>{{chat.name}}</strong><br><span style="word-break: break-all">{{chat.message}}</span></div>
                    <div class="title" [style.float]="chat.isMe? 'right':'left'">&nbsp;{{chat.time}}</div><br>
                </div>
            </div>
        </div>

    </div>
</div>
