
<div class="home flex-center">
    <div class="container-fluid w-50 text-white join-meeting" >
      <div class="row mt-5">
        <div class="col-12 h2 mt-2 text-center"><strong>MeetingPro</strong></div>
      </div>

      <div class="row mt-2 mb-2">
        <div class="d-flex">
          <input type="text" class="form-control" [(ngModel)]="roomId" placeholder="Enter Meeting ID...">
          <button class="btn btn-primary" style="background-color: purple;
          width: 30%;
          margin-left: 1rem;
          border: 0;
          color: white;"
                  (click)="joinRoom()" [disabled]="!roomId || roomId == ''">Join Meeting</button>
        </div>
        <div class="d-flex m-3">
          <button class="btn btn-success m-auto" style="background-color: var(--primary);
    color: white;
    border: var(--primary);" (click)="createRoom()">Create new Room</button>
        </div>
      </div>
    </div>
</div>
