.video-player {
  position: relative;
  text-align: center;
  height: 20vh;
  border: 1px solid var(--color-primary-dark);
  background-image: url("src/assets/svg/default-user.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  video {
    width: 100%;
    height: 20vh;
  }

  .action {
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: center;

    .icon {
      background-color: white;
      border-radius: 50%;
      opacity: 0.3;
    }
  }
  .name-label{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    padding: 5px;
    width: fit-content;
    background-color: #828282;
    opacity: .75;
    border-radius: 0.5rem;
    color:white;
    font-size: x-small;
  }

}

