<header class="brand">
    <img src="assets/svg/brand.svg" alt="brand"  width="300">
</header>

<section class="body" style="min-height:300px">
    <div class="flex-center">
        <div class="col-sm-4 p-1">
            <div class="login-form ">

                <div class="p-3">
                    <div class="form-group row text-white h3 ml-1">
                        Login
                    </div>


                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                        <div class="form-group pt-3">
                            <input type="text" class="form-control"
                                   formControlName="username"
                                   name="user" placeholder="Login ID">
                            <small class="{{(!loginForm.controls.username.pristine &&
                            loginForm.controls.username.invalid) ? 'visible text-white':'invisible text-white'}}"
                            >Please insert LoginId!</small>
                        </div>


                        <div class="form-group">
                            <i style="position:relative;top: 2.25rem;right:1rem"
                               (click)="visibility = !visibility" [ngClass]="visibility ? 'fa fa-eye-slash' : 'fa fa-eye'"
                               class="text-primary float-right">
                            </i>
                            <input
                                    [type]="visibility ?  'text':'password'"
                                    class="form-control"
                                    formControlName="password"
                                    name="password"
                                    placeholder="Password"
                            >
                            <small
                                    class="{{(!loginForm.controls.password.pristine && loginForm.controls.password.invalid) ? 'visible text-white':'invisible text-white'}}"
                            >Please insert password!</small>
                        </div>
                        <div class="row justify-content-end w-100 pt-1">
                            <a [routerLink]="['/recover']" (click)="$event.preventDefault()">Forgot Password?</a>
                        </div>
                        <div class="form-group pt-3 d-flex justify-content-center">
                            <button class="login-btn btn-primary w-100 text-bold " type="submit">
                                Log In
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</section>

<footer class="d-flex justify-content-end">
    <div>
        <img src="assets/svg/credit.svg" alt="brand"  width="200">
    </div>
    <div class="col-1"></div>
</footer>
