.chat {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 3;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  max-height: 100%;
  background-color: whitesmoke;
  border-left: 1px solid var(--primary);

  .chat-header {
    padding: 1rem;
    min-height: 1.5rem;
    background-color: var(--primary) !important;
    color: var(--text-primary) !important;
    font-size: x-large;
    font-weight: bolder;
  }
  .chat-title{
    float: left;
  }
  .chat-close{
    cursor: pointer;
    float: right;
  }

  .conversation {
    flex: 1;
    overflow-y: auto;
    .title{
      margin-right: 0.5rem;
      margin-left: 0.5rem;
      font-size: x-small;
      color: #828282;
    }
    .message {
      padding: 0.5rem;
      background-color: var(--primary-shade);
      color: var(--text-primary);
      margin: 0.5rem;
      margin-bottom: 0 !important;
      border-radius: 0.5rem;
    }

    .my-message {
      margin-left: 2rem;
      background-color: var(--primary) !important;
      color: var(--text-primary) !important;
    }

    .cor-message {
      margin-right: 2rem;
    }
  }
}

@media (min-width: 720px) {
  .chat {
    position: static;
    height: 100vh;
    max-height: 100%;
  }
}
