<div class="chat">
     <div class="chat-header ">
          <div class="chat-title">Chat</div>
          <i class="chat-close fa fa-times" (click)="isOpen.emit(false)"></i>
     </div>
     <div class="conversation"
          #conversation>
          <div *ngFor="let chat of chats; index as i">
               <div class="message" [id]="i" [ngClass]="chat.isMe ? 'my-message' : 'cor-message'">{{chat.content}}</div>
               <div class="title" [style.float]="chat.isMe? 'right':'left'"><strong>{{chat.name}}</strong>&nbsp;{{chat.time}}</div><br>
          </div>

     </div>
     <app-chat-input (onSubmitMessage)="addMessage($event)"></app-chat-input>
</div>
