<div class="top-nav">
    <div class="action-buttons">
        <i class="fa fa-angle-left" (click)="side_nav.classList.remove('show-nav')"></i>
        <i class="fa fa-angle-right" (click)="side_nav.classList.add('show-nav')"></i>
    </div>
    <div class="right-action-buttons">
        <i class="fa fa-bell"></i>
        <img class="avatar" [src]="noImage" alt="">
    </div>
</div>
<div class=" d-flex">
    <div class="sidenav show-nav" #side_nav>
        <div class="sidenav-item"
             *ngFor="let item of menu; let i=index"
             (click)="navigate(item)"
             [style.background-color]="item.selected?'var(--color-secondary-dark)':'transparent'">
            <i [class]="item.icon"></i><br>
            <span style="font-size: x-small">{{item.name}}</span>
        </div>
    </div>
    <div class="content">
        <app-header [title]="current"></app-header>
        <router-outlet></router-outlet>
    </div>
</div>
