.top-nav{
  position: absolute;
  left: 0;
  right: 0;
  z-index: 50;
  background: var(--color-secondary);
  box-shadow: 2px 2px 5px 2px rgb(0 0 0 / 75%);
  .action-buttons{
    float: left;
    display: flex;
    padding: .3rem;
    i{
      color: var(--text-primary);
      cursor: pointer;
      padding: 5px;
      padding-left: 16px;
      opacity: .75;
    }
    i:hover{
      opacity: 1;
    }
    i:disabled{
      opacity: .25;
    }
  }
  .right-action-buttons{
    float: right;
    display: flex;
    padding: .3rem;
    padding-right: 16px;
    .avatar {
      width: 95%;
      border-radius: 50%;
      box-sizing: content-box;
      max-width: 1.5rem;
      max-height: 1.5rem;
    }
    i{
      color: var(--text-primary);
      cursor: pointer;
      padding: 5px;
      padding-right: 16px;
    }
  }
}
.sidenav {
  //padding: 16px;
  padding-top: 3rem;
  width: 5%;
  display: none;
  background: var(--color-secondary);
  color: var(--text-primary);
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 25;
  .name {
    margin-top: 8px;
    font-weight: normal;
  }
  .designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: var(--text-primary);
  }
  .close-icon{
    float: right;
    cursor: pointer;
    display: none;
  }
  .sidenav-item{
    .logout{
      position: absolute;
      bottom: 0;
      left: 0;
    }
    border: none;
    background: transparent;
    padding: 10px;
    text-align: center;
    width: 100%;
    color: var(--text-primary);
    cursor: pointer;
  }
  .sidenav-item:hover{
    background-color: var(--color-secondary-light);
  }
}
.show-nav{
  display: block;
}
.content{
  width: 100%;
  margin-top: 3%;
  margin-left: 5%;
  max-height: 99vh;
}
@media (max-width: 800px) {
  .top-nav{
    display: block;
  }
  .sidenav {
    width: 15%;
    .close-icon{
      display: block;
    }
  }
  .content{
    margin-top: 10%;
    margin-left: 0;
  }

}
