.content{
  float: left;
  .title{
    font-size: xx-large;
    font-weight: 800;
    color: var(--color-secondary);
    padding: 1rem 2rem;
  }
}
@media (max-width: 719px) {
  .content{
    .title{
      font-size: large;
      font-weight: 800;
      color: var(--color-secondary);
      padding: 1rem 2rem;
    }
  }
}
